.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
    margin-right: 5px;
    padding-bottom: 5px;
}
.product-name{
    margin-left: 5px;
    color: blue;
    font-weight: 350;
}
.product-name p{
    color: black;
}
.yellow-btn{
    background-color: goldenrod;
    width: 150px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}